* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background-color: #f2f2f2;
}
.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;   /* circle image */
  border: 4px solid white;
  margin-bottom: 10px;
}


/* HEADER */
.header {
  background-color: #2b6cb0;
  color: white;
  text-align: center;
  padding: 30px;
}

/* NAVBAR */
.navbar {
  background-color: #333;
  overflow: hidden;
  text-align: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: inline-block;
}

.navbar a:hover {
  background-color: #555;
}

/* SECTIONS */
.section {
  width: 80%;
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
}

/* SKILLS */
.section ul {
  list-style-type: square;
  padding-left: 20px;
}

/* PROJECTS */
.project {
  background-color: #eee;
  padding: 15px;
  margin-bottom: 10px;
  border-left: 5px solid #2b6cb0;
}

/* FOOTER */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
